<!doctype html>
<html lang="es">
<head>
  <title>Grupo SMS Example</title>
  <meta name="author" content="César Casas" />
  <META NAME="subject" CONTENT="Passengers" />
  <META NAME="Description" CONTENT="busqueda de disponibilidad hotelera" />
  <META NAME="Classification" CONTENT="busqueda de disponibilidad hotelera" />
  <META NAME="Keywords" CONTENT="busqueda de disponibilidad hotelera" />
  <META NAME="Language" CONTENT="Spanish" />
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC" />
  <META NAME="Copyright" CONTENT="César Casas" />
  <META NAME="Designer" CONTENT="César Casas" />
  <META NAME="Publisher" CONTENT="César Casas" />
  <META NAME="distribution" CONTENT="Global" />
  <META NAME="Robots" CONTENT="INDEX,FOLLOW" />
  <META NAME="country" CONTENT="Argentina" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="Booking search example" />
  <meta property="og:description" content="this is just a bit example, powered by César Casas" />
  <meta property="og:url" content="https://www.booking.com" />
  <meta property="og:image" content="https://q-ec.bstatic.com/static/img/b26logo/booking_logo_retina/22615963add19ac6b6d715a97c8d477e8b95b7ea.png" />

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="container-fluid">
    {{{body}}}
  </div>
  <script type="text/javascript">

    $('.datepicker').datepicker({
      format: 'mm/dd/yyyy',
      startDate: '-3d'
    });
  </script>
</body>
</html>
