<table class="sr_item_legacy">
<tbody>
<tr>
<td class="sr_item_legacy_photo
" id="hotel_1536552" rowspan="2">
<a class=" sr_item_photo_link sr_hotel_preview_track  " href="/hotel/ar/mdzapartments.es.html?label=gen173nr-1FCAQoggJCDWNpdHlfLTEwMDM4NjlIClgEaAyIAQGYAQq4AQrIAQXYAQHoAQH4AQOSAgF5qAID;sid=a95dfe6212fc75df1685c31cda047c69;ucfs=1;srpvid=b769637ca25e01ee;srepoch=1515420538;room1=A%2CA;hpos=15;hapos=15;dest_type=city;dest_id=-1003869;srfid=9f469aff4cdad0ff5637cb0c1705aec7d8020ab7X15;from=searchresults;from_hc_img=1#hotelTmpl" target="_blank" rel="noopener">
<img class="hotel_image hotel_image_border" src="https://r-ec.bstatic.com/xdata/images/hotel/square200/78560482.jpg?k=0aed405e21095d9648e6d0dd2240248ce001709d226cda2b390fb88496fa6510&amp;o=" alt="MdzApartments" data-highres="https://r-ec.bstatic.com/xdata/images/hotel/square600/78560482.jpg?k=ee8bd5521305a800408dca3fb4838a401fd5f89913533707cbd62b8d09440dc1&amp;o=" data-google-track="Click/sr_item_main_photo/0" width="200" height="200" data-et-click="
">
<span class="invisible_spoken">Se abre en una ventana nueva</span>
</a>
</td>
<td>
<h3 class="sr-hotel__title
" data-et-click="customGoal:BOefdDCQQBDJQXLIKe:2" data-et-view="">
<a class="hotel_name_link url" href="&#10;/hotel/ar/mdzapartments.es.html?label=gen173nr-1FCAQoggJCDWNpdHlfLTEwMDM4NjlIClgEaAyIAQGYAQq4AQrIAQXYAQHoAQH4AQOSAgF5qAID;sid=a95dfe6212fc75df1685c31cda047c69;ucfs=1;srpvid=b769637ca25e01ee;srepoch=1515420538;room1=A%2CA;hpos=15;hapos=15;dest_type=city;dest_id=-1003869;srfid=9f469aff4cdad0ff5637cb0c1705aec7d8020ab7X15;from=searchresults&#10;;highlight_room=#hotelTmpl" target="_blank" rel="noopener">
 <span class=" sr-hotel__type    " data-et-mouseenter="  customGoal:NAFQCcTAFNcaNYCLC:1 OQQBWEYcZbOeUPfBceZMVC:1  " data-et-view="  ">
Apartamentos
 </span>
<span class="sr-hotel__name
" data-et-click="
customGoal:YPNdKNKNKZJUESUPTOdJDUFYQC:1
">
MdzApartments
</span>
<span class="invisible_spoken">Se abre en una ventana nueva</span>
</a>
</h3>
<div class="
address
">
<a aria-hidden="true" class="bicon-map-pin show_map map_address_pin" data-et-click="VKcOQUQHeJROGSFHe:1" id="show_id1536552" data-map-id="show_id1536552" data-coords="-68.8408674404754,-32.8910121703662" data-zoom="14"></a>
<a data-et-click=" customGoal:bLTLGHUSCFGZNfFHe:1" href="&#10;/hotel/ar/mdzapartments.es.html?label=gen173nr-1FCAQoggJCDWNpdHlfLTEwMDM4NjlIClgEaAyIAQGYAQq4AQrIAQXYAQHoAQH4AQOSAgF5qAID;sid=a95dfe6212fc75df1685c31cda047c69;ucfs=1;srpvid=b769637ca25e01ee;srepoch=1515420538;room1=A%2CA;hpos=15;hapos=15;dest_type=city;dest_id=-1003869;srfid=9f469aff4cdad0ff5637cb0c1705aec7d8020ab7X15;from=searchresults;&#10;map=1&#10;&amp;msd=1&#10;#hotelTmpl" class=" jq_tooltip   district_link visited_link  " data-google-track="Click/Action: sr_map_link_used" data-coords="-68.8408674404754,-32.8910121703662" target="_blank" data-et-view="bLTLGHUSCFGZNfFHe:1" data-et-mouseenter="OQREFaeDdZKCBPCbNfUUNKNMC:1 " title="MdzApartments, Mendoza" data-map-caption="" rel="noopener">
 Mendoza
– Mostrar en el mapa</a>


						<span class="distfromdest_clean


                        ">
					<span class="bicon-direction-arrow u-display-inline-block icon-valign-middle"></span>(<span class="distfromdest distfromdest_center">En el centro de la ciudad</span>)</span>
</div>
<div class="hotel_desc">
Este apartamento independiente está en el centro de Mendoza, a 300 metros de la plaza de la Independencia y a 50 metros de la calle peatonal Sarmiento.
</div>
</td>
<td class="sr_item_legacy_review">
<div class="reviewFloater">
<div class="sr-review-score
">
<a data-et-mouseenter="
customGoal:adUAVGPWBNVBUKcaUSUJNAPCFEO:1
customGoal:adUAVGPWBNVBUKcaUSUJNAPCFEO:3
OOOTAIFOQLEcLcDYO:1" data-et-click="
customGoal:adUAVGPWBNVBUKcaUSUJNAPCFEO:2
customGoal:adUAVGPWBNVBUKcaUSUJNAPCFEO:4
" href="/hotel/ar/mdzapartments.es.html?label=gen173nr-1FCAQoggJCDWNpdHlfLTEwMDM4NjlIClgEaAyIAQGYAQq4AQrIAQXYAQHoAQH4AQOSAgF5qAID;sid=a95dfe6212fc75df1685c31cda047c69;ucfs=1;srpvid=b769637ca25e01ee;srepoch=1515420538;room1=A%2CA;hpos=15;hapos=15;dest_type=city;dest_id=-1003869;srfid=9f469aff4cdad0ff5637cb0c1705aec7d8020ab7X15;from=searchresults;from_sr_review=1;#hotelTmpl" target="_blank">

<span class=" review-score-widget review-score-widget__superb review-score-widget__auto   review-score-widget__right  review-score-widget__20
js_sr_primary_review_widget
sr_main_score_badge
sr_main_score_badge_force_blue
  " rel="noopener">
<span class="review-score-widget__body">
<span class="review-score-widget__text">
Fantástico
</span>
<span class="review-score-widget__subtext">
59 comentarios
</span>
</span>
<span class="review-score-badge">
9,4
</span>
</span>
<span class="invisible_spoken">Se abre en una ventana nueva</span>
</a>
<a href="/hotel/ar/mdzapartments.es.html?label=gen173nr-1FCAQoggJCDWNpdHlfLTEwMDM4NjlIClgEaAyIAQGYAQq4AQrIAQXYAQHoAQH4AQOSAgF5qAID;sid=a95dfe6212fc75df1685c31cda047c69;ucfs=1;srpvid=b769637ca25e01ee;srepoch=1515420538;room1=A%2CA;hpos=15;hapos=15;dest_type=city;dest_id=-1003869;srfid=9f469aff4cdad0ff5637cb0c1705aec7d8020ab7X15;from=searchresults;from_sr_review=1;#hotelTmpl" target="_blank">
<div class="search-secondary-review-score">
<div data-et-view="OLcLcDBMRVFWC:1"></div>
<div data-et-mouseenter="HMDCDDSJWbCcYdXfMAZLOLHT:2" class="jq-tooltip" data-title="<ul class=&quot;location-score-tooltip-highlights__list&quot;> <li> <svg class=&quot;bk-icon -fonticon-airport location-score-tooltip-highlights__icon&quot; height=&quot;16&quot; width=&quot;16&quot; viewBox=&quot;0 0 32 32&quot;>
  <path d=&quot;M.877.721a2.99 2.99 0 0 1 4.234 0l8.606 8.604c.091-.043.192-.081.307-.108l13.519-3.174c.825-.194 1.968.11 2.536.68l.989.987c.566.566.527 1.537-.086 2.151l-.514.513c-.616.615-1.771 1.379-2.569 1.699l-7.737 3.107c-.149.06-.309.095-.472.119l4.306 4.304 5.777-.809c.451-.06 1.11.172 1.461.522l.611.608c.35.351.381.893.07 1.206l-.26.259c-.312.313-.92.678-1.349.815l-3.293 1.04a2.976 2.976 0 0 1-.778 2.835 2.974 2.974 0 0 1-2.803.788l-1.045 3.307c-.137.431-.502 1.037-.812 1.35l-.261.258c-.312.314-.853.283-1.204-.07l-.61-.61c-.35-.349-.583-1.008-.521-1.462l.805-5.777-4.287-4.285a1.88 1.88 0 0 1-.119.472l-3.104 7.734c-.321.801-1.085 1.958-1.699 2.571l-.515.515c-.614.615-1.582.651-2.149.083l-.988-.987c-.568-.569-.874-1.711-.68-2.536l3.174-13.516c.029-.118.065-.22.109-.311L.877 4.953a2.992 2.992 0 0 1 0-4.232z&quot;/>
</svg> Aeropuerto de El Plumerillo <span class=&quot;location-score-tooltip-highlights__distance&quot;>8 km</span> </li> </ul> ">

<span class=" review-score-widget review-score-widget__exceptional review-score-widget__text-only   review-score-widget__right  review-score-widget__14   review-score-widget__no-subtext    ">
<span class="review-score-widget__text">
Ubicación
</span>
<span class="review-score-badge">
9,6
</span>
</span>
</div>
</div>
<span class="invisible_spoken">Se abre en una ventana nueva</span>
</a>
</div>
<div class="sr-cta-button-row sr-cta-button-top-spacing">
<a class="b-button b-button_primary sr_cta_button no_dates_click jq_tooltip" href="javascript:void(0)#hotelTmpl" data-title="Introduce las fechas de entrada y salida en la casilla de búsqueda de la izquierda.  Podrás ver los precios de la estancia y ordenarlos de menor a mayor.
" rel="220" data-click-store-id="sr-compset-1536552" data-et-click="customGoal:YPNdKNKNKZJUESUPTOdJDUFYQC:1 customGoal:adUdWZaTaTaBOLNYCWCZfdPSMYJULUFWUC:1 customGoal:BOefdDCQQBDJQXLIKe:4 HDDHQWNVdAdNBYOWEDRHe:1" target="_blank">
<span class="b-button__text">
Mostrar precios
</span>
</a>
</div>
</div>
</td>
</tr>
<tr>
<td colspan="2" class="sr_item_legacy_content">
<div class="room_details ">
</div>
</td>
</tr>
</tbody>
</table>
<div class="clearfix"> </div>
